<div class="container-fluid">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Thông tin người quản lý</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Thông tin người quản lý</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <p-button (click)="showBasicDialog()" icon="pi pi-external-link" label="Thêm"></p-button>
            <br>
            <br>
            <div class="row">
                <div class="card">
                    <p-table>
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="code">Mã quản lý
                                    <p-sortIcon field="code"></p-sortIcon>
                                </th>
                                <th pSortableColumn="name">Mã Team
                                    <p-sortIcon field="name"></p-sortIcon>
                                </th>
                                <th pSortableColumn="category">Tên quản lý
                                    <p-sortIcon field="category"></p-sortIcon>
                                </th>
                                <th pSortableColumn="quantity">Ngày sinh
                                    <p-sortIcon field="quantity"></p-sortIcon>
                                </th>
                                <th pSortableColumn="price">Địa chỉ
                                    <p-sortIcon field="price"></p-sortIcon>
                                </th>
                                <th pSortableColumn="price">Số điện thoại
                                    <p-sortIcon field="price"></p-sortIcon>
                                </th>
                            </tr>
                        </ng-template>
                        ad
                        <ng-template pTemplate="body" let-product>
                            <tr>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                                <td>5</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </section>

    <p-dialog header="Nhập thông tin" [(visible)]="displayBasic" [style]="{width: '50vw'}" [baseZIndex]="10000">
        <form novalidate #form="ngForm" (submit)="onSubmit(form)">

            <div class="form">
                <div class="row">
                    <div class="col-md-4 mb-3">
                        Mã quản lý
                        <input type="text" name="idManager" #idManager="ngModel" [(ngModel)]="service.formData.idManager"></div>
                    <div class="col-md-4 mb-3 ">Mã Team
                        <input class="form-control" name="idTeam" #idTeam="ngModel" [(ngModel)]="service.formData.idTeam" type="text ">
                    </div>
                    <div class="col-md-4 mb-3 ">
                        Tên quản lý
                        <input class="form-control" name="nameManager" #nameManager="ngModel" [(ngModel)]="service.formData.nameManager" type="text ">
                    </div>
                </div>
                <div class="row ">
                    <div class="col-md-4 mb-3 ">
                        Ngày sinh
                        <input class="form-control" type="date" name="birthday" #birthday="ngModel" [(ngModel)]="service.formData.birthday">
                    </div>
                    <div class="col-md-4 mb-3 ">Địa chỉ
                        <input class="form-control" name="address" #address="ngModel" [(ngModel)]="service.formData.address" type="text ">
                    </div>
                    <div class="col-md-4 mb-3 ">Số điện thoại
                        <input class="form-control" name="phoneNumber" #phoneNumber="ngModel" [(ngModel)]="service.formData.phoneNumber" type="text ">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit" [disabled]="form.invalid">Đồng ý</button>
                <p-button icon="pi pi-times " styleClass="p-button-text " (click)="displayBasic=false " label="No "></p-button>
            </div>
        </form>

    </p-dialog>

</div>
