<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">

        <i class="fab fa-battle-net" style="font-size: 30px;"></i>
        <span class="brand-text font-weight-light" style="font-size: 16px;
    padding-left: 10px;">Hệ thống quản lý chỉ tiêu KPI</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar" *ngIf="userDetail">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div style="padding-top: 5px;" class="image">
                <img style="width: 90px;
              height: 90px;" src="/assets/img/photo/{{ userDetail.photo }} " class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info" style="padding-top: 30px;">
                <h4 style="color: white;font-size: 18px;">{{ userDetail.name }}</h4>
                <a style="cursor: pointer;" (click)="logout()">
                LogOut
            </a>
            </div>
        </div>


        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
     with font-awesome or any other icon font library -->
                <li class="nav-item menu-open">
                    <a href="#" class="nav-link active">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Chỉ tiêu KPI
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="./index.html" class="nav-link active">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Thông tin chỉ tiêu</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a [routerLink]="['/admin/groupKPI']" routerLinkActive="selected" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Nhóm chỉ tiêu</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a [routerLink]="['/admin/targetList']" routerLinkActive="selected" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Chi tiêu được giao</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a [routerLink]="['/admin/progressList']" routerLinkActive="selected" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Chi tiêu đang thực hiện</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="pages/widgets.html" class="nav-link">
                        <i class="nav-icon fab fa-uncharted"></i>
                        <p>
                            Tin mới
                            <span class="right badge badge-danger">New</span>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <!-- <i class="nav-icon fas fa-copy"></i> -->
                        <i class="nav-icon fas fa-sitemap"></i>
                        <p>
                            Bộ phận
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a [routerLink]="['/admin/manager']" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Thông tin quản lý</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a [routerLink]="['/admin/employees']" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Thông tin nhân viên</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a [routerLink]="['/admin/department']" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Thông tin tổ/phòng ban</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <!-- <i class="nav-icon fas fa-chart-pie"></i> -->
                        <i class="nav-icon fas fa-chart-pie"></i>
                        <p>
                            Biểu đồ
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a [routerLink]="['/chart/pie']" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Hình tròn</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a [routerLink]="['/chart/pie']" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Hình bánh</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a [routerLink]="['/chart/line']" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Hình sóng</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/admin/sumData']" class="nav-link">
                        <!-- <i class="nav-icon fas fa-edit"></i> -->
                        <i class="nav-icon fas fa-globe"></i>
                        <p>
                            Tổng hợp
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/proFile']" class="nav-link">
                        <i class="nav-icon far fa-user"></i>
                        <p>
                            Thông tin người dùng
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>